@model IEnumerable<MovieCart>

@{<header> 
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
    </header>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">

                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                      
                    </div>
                </div>
                @foreach(var item in Model){
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="~/images/movies/@item.Movie.ImgUrl"></div>
                        <div class="col">
                            <div class="row text-muted">@item.Movie.Name</div>
                           
                        </div>
                        <div class="col">
                                <a href="/ShopingCart/Decreamnt/@item.Id">-</a><a href="#" class="border">@item.Count</a><a href="/ShopingCart/Increamnt/@item.Id">+</a>
                        </div>
                        <div class="col">@item.Movie.Price<span class="close">&#10005;</span></div>
                            <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                @if ( item.status != null)
                                {
                                    <button type="button" class="btn btn-dark text-center text-light  ">Status <p class="  bg-warning">@item.status </p></button>
                                }
                                else{
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger bg-gradient py-2 ">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                                }
                            </div>
                    </div>
                </div>}
                
                         
               
                
                <div class="back-to-shop"><a href="/Home/Index">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr>
                <div class="row"> 
                    <div class="col text-right">&euro; @ViewBag.total</div>
                </div>
                
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">&euro;@ViewBag.total</div>
                </div>
                <a asp-action="Pay" asp-controller="ShopingCart"> <button class="btn btn-success bg-gradient py-2 ">  CHECKOUT  </button></a>
            </div>
        </div>

    </div>
}
