@{



    <div class="container mt-6">
        <div class="row">
            @foreach (var @item in Model)
            {

                <!-- First Movie Card -->



                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header bg-dark text-light">@item.Name </div>
                        <div class="row g-0">
                            <div class="col-md-4">

                                <img src="~/images/movies/@item.ImgUrl" class="img-fluid rounded-start" alt=" ">
                            </div>

                            <div class="col-md-8">

                                <div class="card-body">

                                    <p class="card-text"><strong>Price: </strong><button class="btn-secondary">@item.Price</button></p>

                                    <p class="card-text"><strong>Cinema:</strong>@item.cinema.Name</p>
                                    <p class="card-text"><strong>Start Date:</strong>@item.StartDate</p>
                                    <p class="card-text"><strong>End Date:</strong> @item.EndDate</p>
                                    <p class="card-text">
                                        <strong>Category:</strong> <a href="/Category/MoviesCategory/@item.CategoryId">
                                            @item.category.Name
                                        </a>
                                    </p>
                                    @* --------------CheckNamedisplay-----------------------
                            @if (ViewBag.IsSelected == true)
                            // //       {
                            //          <p class="card-text"><strong>Category:</strong> @item.category.Name </p>

                            //        }
                            //  else
                            //        {

                            //           <p class="card-text">
                            //            <strong>Category:</strong> <a href="/Home/Index/@item.CategoryId">
                            //                    @item.category.Name </a></p>
                            //        }*@
                                    @* ---------------StatusCheck-----------------------*@
                                    @if (item.MovieStatus == 0)
                                    {
                                        <button class="btn-warning">Upcoming</button>

                                    }
                                    else if (((int)item.MovieStatus) == 1)
                                    {
                                        <button class="btn-primary">Avalibale</button>
                                    }
                                    else
                                    {
                                        <button class="btn-danger">Expired</button>
                                    }
                                    <br />
                                    <br />

                                    <a href="/Movie/MovieDetails/@item.Id" class="btn btn-outline-secondary">More Details</a>
                                    @if (((int)item.MovieStatus) == 2)
                                    {
                                        <a href="#" class="btn btn-secondary disabled">Book Ticket</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn btn-outline-info ">Book Ticket</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            }
        </div>
    </div>


}


